<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Edit</th>
    </tr>

    <tr th:each="user : ${users}">

        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getFirstName()}">First Name</a></td>
        <td th:utext="${user.getLastName()}">Last Name</td>
        <td th:utext="${user.getEmail()}">Email</td>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>

    </tr>

</table>

<br/>
<hr/>

<a href="/users/new">Create new user</a>

</body>
</html>